<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-image:url({{url_for('static',filename='images/bg_2.jpg')}});background-repeat:no-repeat;background-attached:fixed;background-size:cover;height:100vh">
  <div class="box">
  <center>
   <h1><b>Upload the Image </b></h1></center>
  <center>
      <br>
      <br>
   <form action="predictcalories" method="POST" enctype="multipart/form-data">
    <p> <input type="file" accept="image/*" id="image" name="image">
      <input type="number" class="input input:focus" name="Quantity">(in servings)<br>
      <button type="submit">Predict</button> 
      <h1>{{info}}<h1>
      <h1>{{calories}}<h1>
    </form>
  </center>
  </div>
</body>
</html>